.search-background-icon {
    background-image: url(../public/images/search-icon.svg);
    background-repeat: no-repeat;
    background-position: 7px 11px;
  }

.color-button {
    width: 25px;
    height: 25px;
    border-color: black;
    border-width: 1px;
    padding: 1px;
    margin: 1px;
}

.color-button:hover {
    border-width: 2px;
}